@model SitefinityWebApp.Mvc.Models.CustomCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="office-photo">
    <div class="photo lazy-load-bg" style="background-image:url('@Model.SelectedSizeUrl');"></div>
</div>