html, body { position: relative; }
html {
    overflow-x: hidden;
    max-width: 100%;
    -webkit-text-size-adjust: none;

    &.text-large {
        font-size: 110%;
    }

    &.text-larger {
        font-size: 125%;
    }

    &.text-largest {
        font-size: 150%;
    }
}
body {
	@include font-size($base-font-size);
	line-height:30px;
	color:$base-font-color;
	font-family:$primary-font;
}
.page-wrapper { 
	position:relative;
	z-index:1;
	overflow:hidden;
}
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family:$htag-font;
	color:$htag-color;
	font-weight:400;
	line-height:1.2;
	margin:10px 0;

	&.blue { color:$primary; }
}
h1, .h1 { 
	@include font-size(144); 
}
h2, .h2 { 
	@include font-size(54);
}
h3, .h3 { 
	@include font-size(30); 
	font-family:$primary-font;
	color:#707372;
	font-weight: 900;
}
h4, .h4 { 
	@include font-size(35); 
}
h5, .h5 { 
	@include font-size(24); 
}
h6, .h6 { 
	@include font-size(20);
	margin:10px 0;
}
img { max-width:100%; }
a {
	color:$link-color;
	text-decoration:underline;

	&:hover, &:focus, &:active {
		color:$link-hover;
		text-decoration:none;
	}
}
p { margin-bottom: 25px; }
.center { text-align:center; }







@include media-breakpoint-down(sm) {
	body { line-height: 22px; }
	h1, .h1 { @include font-size(67); }
	h2, .h2 { 
		@include font-size(36);
		line-height: 31px; 
	}
	h3, .h3 { @include font-size(25); }
	h4, .h4 { @include font-size(24); }
	h5, .h5 { @include font-size(20); }
	h6, .h6 { @include font-size(18); }
}
