.benefits {
	@include greenGradientHorizontal();
	padding:30px 0;
	text-align: center;
	color:#FFF;

	h1, h2, h3, h4, h5, h6 { color:#FFF; }
	ul {
		margin:0;
		padding:0;
		text-align: left;
		margin:0 auto;
		list-style:none;
		display:inline-block;

		li {
			text-align: center;
			margin-bottom: 5px;
		}
	}
}


@include media-breakpoint-down(md) {
	.benefits {
		padding:20px 0;

		ul {
			li { 
				margin-bottom: 10px; 
			}
		}
	}
}