.featured-blog {
	color:#FFF;
	height: 750px;
	position: relative;

	.background {
	    position: absolute;
	    top: 0;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    background:$primary;
	}	
	.content-wrapper {
		height:100%;
		display: flex;
		align-items: center;				
	}
	.caption {
		width:40%;
		line-height: 25px;
	}
	.subheadline {
		color:#FFF;
		@include font-size(24);
		line-height: 31px;
		font-weight: 900;
		margin:0 0 35px 0;
	}
	.headline {
		color:#FFF;
		@include font-size(54);
		line-height: 48px;
		margin:0 0 25px 0;
	}
	.description {
		@include font-size(16);
		line-height: 30px;
		margin-bottom: 30px;
	}
	.cta {
		position:relative;
		z-index:2;
	}
	.blog-image {
		position: absolute;
	    right: 0;
	    top: 0;
	    width: 60%;
	    height: 100%;
	    z-index: 1;
	    overflow: hidden;
	    transform: skew(-12deg);
	    transform-origin: bottom left;

	    // counter skew so image isn't distorted
	    .wrapper {
	    	position: absolute;
	    	z-index: -1;
	    	transform: skew(12deg);
	    	transform-origin: bottom left;
	    	left: 0;
	    	top: 0;
	    	width: 100%;
	    	height: 100%;

	    	.image {
	    		background-size:cover;
	    		background-position: center center;
	    		background-repeat: no-repeat;
	    		height:100%;
	    		position:relative;
	    		z-index:1;
	    		overflow: hidden;
	    	}
	    }
	}
	// Layout Themes
	&.image-right {
		.content-wrapper {
			background-image: url(/library/img/dingbat.png);
			background-repeat: no-repeat;
			background-position: calc(50% - 120px) center;
		}
		.caption { padding-right: 50px; }
	}
	&.image-left {
		background-image: url(/library/img/dingbat.png);
		background-repeat: no-repeat;
		background-position: bottom -200px center;

		.blog-image {
			right:initial;
			left:-160px;

			.wrapper { transform-origin:top left; }
		}
		.caption {
			position:relative;
			left:calc(60% + 115px);
		}

	}
	
}








@media (max-width: 1400px) {
	.featured-blog {

		.headline {
			@include font-size(45);
			line-height: 45px;
		}
		&.image-left {
			.caption { 
				left: calc(60% + 30px); 
			    width: calc(40% - 30px);
			}
		}
	}
}






@include media-breakpoint-down(md) {
	.featured-blog {
		width:100%;
		padding:390px 0 20px 0;
		height:auto;

		.caption { 
			width:100%;
			padding:15px 0;
		}
		.subheadline {
			@include font-size(18);
			line-height: 31px;
			margin:0 0 20px 0;
		}
		.headline {
			@include font-size(36);
			line-height: 36px;
		}
		.blog-image {
			position:absolute;
			height:400px;
			width:calc(100% + 90px);
			top:0;
			left:0;
			transform:rotate(-12deg);

			.wrapper {
				transform:rotate(12deg);
			}
		}
		.description { margin-bottom: 20px; }	
		.cta {
			a { @include font-size(20); }
		}
		&.image-right {
			.content-wrapper {
				background-position: top right 15px;
				background-size: 65% auto;				
			}

			.caption { padding-right: 0; }
			.blog-image {
				&:after {
					content:'';

				}
			}
		}
		&.image-left {
			background-position: bottom -120px right 15px;
			background-size: 222px 222px;

			.blog-image {
				left:0;
				transform:rotate(12deg);
				transform-origin:top right;

				.wrapper {
					transform:rotate(-12deg);
					transform-origin:top right;
				}
			}
			.caption {
				left:0;
				width:100%;
			}
		}
	}
}



@include media-breakpoint-down(xs) {
	.featured-blog {
		padding:230px 0 20px 0;

		.feature-blog { padding:225px 0 20px 0; }
		.blog-image { height:235px; }
	}
}
