@model SitefinityWebApp.Mvc.Models.CustomCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using SitefinityWebApp;

<div class="wrapper">
    <div class="image" style="background-image:url('@Model.SelectedSizeUrl');"></div>
</div>