input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="autocomplete"],
select, textarea {
    @include font-size(16);
    color:#707372;
    font-weight: 500;
    line-height: 1;
    padding: 0 15px;
    background: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    width:100%;
    height:46px;

    &:focus { 
        outline:1px solid $primary; 
    }
    @include placeholder {
        color:#707372;
    }
}
input.error {
    border:2px solid #FC5E5E;
}
input[type="submit"] {
    cursor:pointer;
}
label {
    margin-bottom:0px;
    @include font-size(14);
    font-weight:600;
}
textarea { 
    padding:15px; 
    min-height:85px;
    width:100%;
}
// style custom default select box arrows
select {
    padding:0 30px 0 15px;
    height:48px;
    line-height: 1.3;
    appearance: none;       /* remove default arrow */
    background-image: url(/library/img/selectDropdownBlue.png);   /* add custom arrow */
    background-repeat: no-repeat;
    background-position: center right 15px;

    &::-ms-expand { 
        display: none; /* hide the default arrow in ie10 and ie11 */
    }
}


.form-group { margin-bottom:15px; }
.error, .field-validation-error, .formError {
    color:#FAC7C7;
    @include font-size(15);
	font-weight:700;
}
.field-validation-error {
	@include font-size(14);
    line-height: 16px;
}
