.gdp {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	@include blueGradient();
	color:#FFF;
	padding:10px 0;
	z-index:$gdp-z-index;

	.row {
		justify-content: space-between;
		align-items: center;
	}
	a {
		color:#FFF;

		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
	.cta { margin-right:50px; }
}




@include media-breakpoint-down(md) {
	.gdp {
		padding:10px 15px;

		.cta { margin-top:20px; }
	}
}