@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@if (Model.Nodes.Count > 0)
{
    <ul class="sub-links">
        @foreach (var node in Model.Nodes)
        {
            <li><a href="@node.Url" target="@node.LinkTarget" title="@node.Title">@node.Title</a></li>
        }
    </ul>
}

