@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@if (Model.Nodes.Count > 0)
{
    <div class="leftCol col-sm-4">
        <section class="leftNavWrapper" aria-label="left navigation">
            <nav class="leftNav">
                <ul>
                    @foreach (var node in Model.Nodes)
                    {
                        <li><a href="@node.Url" title="@node.Title">@node.Title</a></li>
                    }
                </ul>
            </nav>

        </section>
    </div>
}
