<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="http://localhost:3000/assets/auth/silent-renew.html" />
						<add redirectUri="http://localhost:3000/auth/oidc/sign-in" />
					</redirectUris>
					<postLogoutRedirectUris>
						<add redirectUri="http://localhost:3000/auth/oidc/sign-out" />
					</postLogoutRedirectUris>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://localhost:3000" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>