<?xml version="1.0" encoding="utf-8"?>
<azureCdnConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" InvalidateOnPublish="True" TenantID="2dfc1204-d03c-45be-b4bc-0d9b294d2611" SubscriptionID="00587ade-7d9f-4f1e-a780-5a7811677d76" AppClientId="4099f439-25f4-4c5f-9560-272150f31078" AppSecret="1NFuZGqMCpMs~UV9_fs~kb727qUcLHT3Z." ResourceGroup="ST-COM" CdnProfileName="silvertech-cdn" CdnEndPoint="silvertech-com" />