<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" initialized="True">
	<databaseMappingOptions splitTablesIgnoredCultures="en" />
	<connectionStrings>
		<add connectionString="data source=stnh-sql-02;UID=cl_silvertech_website_dbo;PWD=BrvAQ6mzDGbtM5Ah;initial catalog=SilvertechWebsite" name="Sitefinity" />
	</connectionStrings>
</dataConfig>