<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" accessControlAllowOrigin="http://localhost:3000" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="239D10791D28D4C4249304E9415C09A3D9227BA863C47672EB8E714BD25F72E014E74B1BF4BEDC38BE0794677FAFCE6E9473263CC08080A99F2C93F46A83708B" decryptionKey="E673F56AF935089976E9E75EF71AD6537FD9F0766CDEAAF053AB9B340575691E" loggingCookieName=".SFLOG-/" trustedLoginDomains="http://localhost:3000">
	<securityTokenIssuers>
		<add key="2ABEEEF5F537F3C8E76C247DDEB5AE710CCB5E3B0BDB06B8E9CE01D4B56E06CB" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="2ABEEEF5F537F3C8E76C247DDEB5AE710CCB5E3B0BDB06B8E9CE01D4B56E06CB" realm="http://localhost" />
	</relyingParties>
</securityConfig>