<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add accessControlAllowOrigin="http://localhost:3000" urlName="default" config:flags="1">
					<types>
						<add access="Anonymous" clrType="Telerik.Sitefinity.DynamicTypes.Model.Rates.Rowdata" config:flags="1" xmlns:config="urn:telerik:sitefinity:configuration" />
						<add access="Anonymous" clrType="Telerik.Sitefinity.DynamicTypes.Model.Rates.Table" config:flags="1" xmlns:config="urn:telerik:sitefinity:configuration" />
					</types>
				</add>
			</services>
		</add>
		<add name="Sitefinity" config:flags="1">
			<services>
				<add accessControlAllowOrigin="http://localhost:3000" urlName="system" config:flags="1" />
			</services>
		</add>
	</Routes>
</webServicesConfig>