<?xml version="1.0" encoding="utf-8"?>
<webSecurityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<httpSecurityHeaders>
		<responseHeaders>
			<add disabled="True" name="Content-Security-Policy" config:flags="1" />
			<add disabled="True" name="X-Content-Type-Options" config:flags="1" />
		</responseHeaders>
	</httpSecurityHeaders>
	<redirectValidation disableRedirectValidation="True" />
	<cookiesProtector enable="False" />
</webSecurityConfig>